@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1548492378860'); /* IE9 */
  src: url('iconfont.eot?t=1548492378860#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALQAAsAAAAAB0wAAAKBAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqCSIIaATYCJAMICwYABCAFhG0HPRtNBhEVjA+yHwdu7DQH/TlvUaGLrD8GD/w66n3MeEEkJgIh8YQQWZITFFdp052z0AABBGat2jTFYdQJRZOMDz7NU/ZLA45LGx+no1SEjJA5uJz+Kgx4HlAuc0x+atGYHFCge2AUWYE8gPcQ70QNB/EcAnBJlE/U1rf2YqOBdQIQq0sLU9i5EBqtZW0EZs1RjbiJgS0vyTfgRvh78UVBNkgMBdR1ztfNUvlhA/PUzv8dRjmCeL7XAAxAAflAg+itdbWj4lQ+heukNKnYV7WADxv//3MLYq9/HsIEKn0A4kXRPYmp5FZfkQBowAEmgXMSTSscwPx1zsq9hzuPrjzZfTwY0ReoHz5823v0ru/kw8Dx+8Vnx6l3TxqeHqXcOhw2O5mr0/ZOkKqouFVYgtbY8piRXll3n9c6MFC/FvlcwGTpipVfnY2NhtHY2Bl2Ky4vDORUtlqLd1aQ3RFlCDj7sJM0EVT61fY0AKfbFcPhiv87GlUJ2DfoFvCjxT0btCsFs9S2uDYnmcR5AYWLUfgP+EKdjdVFvJVDYOfEGkgsEkBhk45qWj4YeBSBiU0FeF152tOeMGxPzAFyvQUQgn1ACvQElGBfVNN+YIj0B1NwClz9hV3pyWzJrdlGJxipf5EdpqSIVbKo+gh9Cx1npSHzCl5tlKq8LGZbJPAcO9a7rkUUKZ4iHYTXEMJEM08Og+RGZG6KQtV9KB+muMnUYNARMCK9F2INJoni00VW+v4RaDdBh1tIHd4rYCs7P6nkyh5oq0q9SPfyzupOqwmhEIVNInIQFkEQTMhcv8iBgciZEYlZo8BWqq8qX18Tv+4M4AK9DLcpwo4UYPWUdAIVJMF422wAAAAA') format('woff2'),
  url('iconfont.woff?t=1548492378860') format('woff'),
  url('iconfont.ttf?t=1548492378860') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1548492378860#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sort:before {
  content: "\e76f";
}

